﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mega Web IT Challenge</title>
    <link rel="stylesheet" href="~/Content/dist/css/site.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-fixed-top navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="oi oi-menu"></span>
                </button>
                <a href="/" class="navbar-brand">MegaWeb IT Desafio</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Levantametos")">
                            <i class="oi oi-list-rich"></i>
                            Levantamentos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index")">
                            <i class="oi oi-arrow-circle-bottom"></i>
                            Baixar o APK
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Mega Web IT Challenge</p>
        </footer>
    </div>

    <script src="~/Content/dist/js/site.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
