﻿@model MWIT.Challenge.Web.Models.LevantamentosCreateViewModel

<form action="@Url.Action("Create")" method="POST" enctype="application/x-www-form-urlencoded" ng-app="app" ng-controller="LevantamentoController">
    @Html.AntiForgeryToken()
    <section class="container mt-5">
        <div class="row">
            <div class="col-6"><h2>Novo Levantamento</h2></div>
            <div class="col-6 text-right">
                <button class="btn btn-primary">Salvar</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    @Html.LabelFor(p => p.NomeEdificio, "Nome do Edifício", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(p => p.NomeEdificio, new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.NomeEdificio, "Favor informar o nome do edíficio")
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(p => p.NomeCliente, "Nome do Cliente", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(p => p.NomeCliente, new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.NomeCliente, "Favor informar o nome do cliente")
                    </div>
                </div>

                <h4>Luminárias a serem verificadas</h4>

                <div class="form-group row">
                    <div class="col-12">
                        <div class="alert alert-secondary">
                            <div class="row">
                                <label class="col-sm-2 col-form-label"><strong>Adicione o Bloco</strong></label>
                                <div class="col-sm-3">
                                    @Html.DropDownList("AddBlocoId", Model.Blocos, new { @class = "form-control", ng_model = "addBlocoId" })
                                </div>
                                <div class="col">
                                    <a href="#void" class="btn btn-primary" ng-click="adicionarBloco()">
                                        <i class="oi oi-plus"></i> Adicionar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="edificio">
                    <div class="row">

                        <!--Bloco-->
                        <div class="col-sm-6" ng-repeat="bloco in blocos">
                            <div class="bloco">
                                <div class="bloco-cab">
                                    <label>{{bloco.Descricao}}</label>
                                </div>
                                <div class="bloco-corpo">
                                    <!--Pavimento-->
                                    <div class="pavimento" ng-repeat="pav in bloco.Pavimentos | orderBy:'id':true">
                                        <div class="row">
                                            <div class="col-2">
                                                <label>{{pav.Descricao}}</label>
                                            </div>
                                            <div class="col-10">
                                                <div class="luminaria" ng-repeat="lum in pav.Luminarias">
                                                    <label>
                                                        <input type="checkbox" name="LuminariasId[]" value="{{lum.Id}}" /> {{lum.Descricao}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</form>



