﻿@model MWIT.Challenge.Web.Models.LevantamentosDetailViewModel

<div ng-app="app" ng-controller="LevantamentoController">
    @Html.AntiForgeryToken()
    <section class="container mt-5">
        <div class="row">
            <div class="col-6"><h2>Levantamento #@Model.Id </h2></div>
            <div class="col-6 text-right">
                <a href="@Url.Action("Index")" class="btn btn-primary">Voltar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    @Html.LabelFor(p => p.NomeEdificio, "Nome do Edifício", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Model.NomeEdificio
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(p => p.NomeCliente, "Nome do Cliente", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Model.NomeCliente
                    </div>
                </div>

                <h4>Luminárias</h4>

                <div class="form-group row">
                    <div class="col-12">
                        <div class="alert alert-secondary">
                            <div class="row">
                                <label class="col-sm-1 col-form-label"><strong>Legenda</strong></label>
                                <div class="col">
                                    <span class="legenda legenda-nada"></span> Não foi selecionado
                                    <span class="legenda legenda-pendente"></span> Pendente
                                    <span class="legenda legenda-funcionando"></span> Funcionando
                                    <span class="legenda legenda-piscando"></span> Piscando
                                    <span class="legenda legenda-queimada"></span> Queimada
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="edificio">
                    <div class="row">

                        <!--Bloco-->
                        @foreach (var bloco in Model.Blocos)
                        {
                            <div class="col-sm-6">
                                <div class="bloco">
                                    <div class="bloco-cab">
                                        <label>@bloco.Descricao</label>
                                    </div>
                                    <div class="bloco-corpo">
                                        <!--Pavimento-->
                                        @foreach (var pav in bloco.Pavimentos)
                                        {
                                            <div class="pavimento">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label>@pav.Descricao</label>
                                                    </div>
                                                    <div class="col-10">
                                                        @foreach (var lum in pav.Luminarias)
                                                        {
                                                            <div class="luminaria">
                                                                <label class="@LevantamentoHelper.CssClassEstado(lum.Estado)">
                                                                    @lum.Descricao
                                                                </label>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



