﻿@model IEnumerable<RotaLevantamentoModel>

<section class="container mt-5">
    <div class="row">
        <div class="col-6"><h2>Rotas de Levantamentos</h2></div>
        <div class="col-6 text-right">
            <a href="@Url.Action("Create")" class="btn btn-primary">Novo Levantamento</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Edifício</th>
                        <th>Cliente</th>
                        <th>Situação</th>
                        <th width="80">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.NomeEdificio</td>
                                <td>@item.NomeCliente</td>
                                <td>Pendente</td>
                                <td>
                                    <a href="@Url.Action("Details", new { id = item.Id })">
                                        <i class="oi oi-magnifying-glass"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" class="text-center"><em>Ainda não rotas de levantamento cadastradas</em></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>