﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.input-validation-error {
    border: 1px solid #ff4444;
    border-radius: 4px 4px 0 0;
}

.field-validation-valid {
    display:none;
}

.field-validation-error {
    color: #ff4444;
    background: #ffb9b9;
    border: 1px solid #ff4444;
    border-top-width:0;
    border-radius: 0 0 4px 4px;
    padding: 7px 10px;
    display:block;
}

.edificio label {
    margin:0;
}

.edificio .bloco {
    border: 1px solid #333;
    border-radius:4px;
    background:#999;
    padding:5px;
}

.edificio .pavimento {
    border: 1px solid #333;
    border-radius: 4px;
    background: #ccc;
    padding: 5px;
}

.edificio .luminaria {
    border: 1px solid #333;
    border-radius: 4px;
    background: #eee;
    float:left;
    margin:2px;
}

    .edificio .luminaria label {
        padding: 5px;
        cursor: pointer;
        transition: 0.2s;
        border-radius: 4px;
    }

    .edificio .luminaria label:hover {
        background:#87d0f5;

    }

.legenda {
    display:inline-block;
    width:20px;
    height:20px;
    border:1px solid #333;
    border-radius:4px;
	margin-left:20px;
	vertical-align:middle;
}

.legenda-nada        { background:#eeeeee;}
.legenda-pendente    { background:#00b1ff}
.legenda-funcionando { background:#16ea21}
.legenda-piscando    { background:#ffc300}
.legenda-queimada    { background:#e00808}